@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.bgimage {
  background: url("/assets/Hero-bg.png");
  height: 100vh;
  width: 100%;
}
.nav {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1000px; */
  padding: 0 10vw;
  margin: 0 auto;
}

.nav img {
  height: 7rem;
  width: 7rem;
  margin-top: 0.8rem;
  filter: contrast(2);
}

.buttonstyle {
  background-color: #6c63fe;
  border: none;
  border-radius: 0.8rem;
  font-weight: 300;
  color: white;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  font-size: 15px;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in;
  box-shadow: 5px 5px 10px blue;
  font-weight: 400;
}
.buttonstyle:hover {
  background-color: #454196;
  transform: scale(1.1);
  transition-delay: 0.2s;
}
.buttonstyle:active {
  transform: scale(1.06);
  transition-delay: 0s;
}
.navpera {
  text-align: center;
  padding: 200px;
}
.navpera h1 {
  font-size: 4rem;
}

.navpera button {
  margin-top: 50px;
}
.fontcolor {
  color: rgb(74, 73, 73);
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30vh 10vw 12vh 10vw;
}
.left > * {
  margin-top: 25px;
}

.left p {
  color: rgb(130, 123, 123);
  font-size: 22px;
  width: 400px;
}
.left h1 {
  font-size: 40px;
}

.right img {
  border-radius: 50px;
  width: 23rem;
}

.section-2 {
  margin: 15vh 10vw;
  background-color: #e4e6ff;
  text-align: center;
  padding: 3rem;
  border-radius: 1.5rem;
  font-weight: bolder;
  font-size: 20px;
}

.numbers > * {
  padding-top: 50px;
}
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  font-weight: bolder;
}
.lighter {
  font-weight: 400;
  color: rgb(89, 92, 92);
}
.bold {
  color: rgb(81, 81, 242);
  font-size: 70px;
}

.section-3{
  margin: 15vh 10vw;
}

.box{
  width: 30vw;
  height: 45vh;
  box-shadow: 0.5px 0.5px 5px rgb(171, 167, 167);
  padding: 30px;
  border-radius: 1rem;
}
.box > .profile , h2{
  padding-top: 20px;
}
i{
  color: gold;
  font-size: 1.5rem;
}
.section-3 h1{
    text-align: center;
    font-size: 40px;
}
.icons{
  text-align: start;
}
.profile{
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile img{
  border-radius: 20px;
}
.boxes{
  display: flex;
  gap: 50px;
  margin-top: 50px;
}